body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    overflow-x: hidden;
}

.navbar {
    font-size: 0.95rem;
    background-color: rgba(255, 255, 255, 0.9) !important;
    top: 0 !important;
}

.navbar-toggler:hover {
background-color: rgb(57, 110, 153);
}

.open {
    background-color: rgb(57, 110, 153) !important;
}


.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-nav li a:hover {
    color: rgb(57, 110, 153) !important;
}

.navbar-nav > .active > a {
    color: rgb(57, 110, 153);
  }

  .dropdown-menu a:focus {
    background-color: white;    
  }

#logo-header {
    width: 5.3rem;
    margin-left: 5rem;
}

.name-header {
    margin-left: 2rem;
    margin-right: 2rem;
}

#header-subtitle {
    margin-left: 0.8rem;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

#name-company {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.name-header a {
    color: black;
    text-decoration: none;
}

.name-header hr {
    padding: 0;
    margin: 0.3rem 0rem;
    border-color: rgb(57, 110, 153);
    width: 18rem;
}

.nav-link {
    color: black !important;
    margin: 0 0.2rem !important;
    white-space: nowrap !important;
    font-size: 1rem !important;
}

.main-page {
    position: relative;
    top: 6.8rem;
    width: 100%;
    height: 100%;
}

.video-cover {
    position: relative;
    overflow: hidden;
    height: 39.375rem;
}

#cover-video {
    position: absolute;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.capture-title {
    z-index: 100;
    position: absolute;
    top: 10rem;
    left: 3rem;
    background-color: rgba(57, 110, 153, 0.9);
    color: white;
    font-weight: 300;
    width: 50rem;
    text-align: center;
    padding: 1rem;
    border-radius: 3px;
}

.capture-title hr {
    border-color: rgba(188, 204, 218, 0.9);
}

h1, h2 {
    font-size: 2.188rem;
    font-weight: 200;
    margin-top: 2rem;
}

h3 {
    margin-top: 2rem;
    font-weight: 300;
}

.hr-title {
    border-color: rgb(57, 110, 153);
    width: 90%;
    margin-left: 2rem;
    margin-bottom: 5rem;
}

p {
    font-weight: 200;
}

p:last-of-type {
    margin-bottom: 5rem;
}

button {
    padding: 0.5rem 1.8rem;
    border-radius: 500px;
    font-size: 0.9rem;
    color: rgb(57, 110, 153);
    background-color: white;
    border: 2px solid rgb(57, 110, 153);
    
}

button:focus {
    outline: none !important;
}

button:hover {
    background-color: #028AC7;
    border-color: #028AC7;
    color: white;
}

#zoom {
    min-height: 500px !important;
    max-height: 500px !important;
    background: transparent;
    margin-bottom: 14rem;
}

.introduction {
    z-index: 101;
    position: absolute;
    top: 700px;
    width: 100%;
    text-align: left;
}
.introduction p {
    width: 40%;
}

.introduction hr {
    width: 50%;
}

.icons {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.icons > div {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.icons img {
    width: 30px;
    margin-right: 0.5rem;
}

.contact {
    margin-top: 4rem;
    overflow: auto;
}

.contact hr {
    border-color: rgb(57, 110, 153);
    width: 10%;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.contact span {
    font-weight: 500;
}

.copyright {
    text-align: center;
    font-weight: 300;
    margin: 5rem 0;
}

.curriculum-list {
    line-height: 1.5;
    font-weight: 200;
    margin-bottom: 3rem;
}

.curriculum-item {
    margin: 1rem 0;
}

.hr-subtitle {
width: 30%;
}

#contact-form {
    width: 70%;
}

#contact-form input, #contact-form textarea {
    background-color: rgb(253, 254, 255)
}

input:focus, #textarea-field:focus {
    outline: none !important;
    border:1px solid rgb(57, 110, 153) !important;
    box-shadow: 0 0 10px #719ECE !important;
}

.areas-img {
    width: 20%;
    margin: 3rem auto;
}

a.anchor {
    display: block; 
    position: relative;
    top: -150px; 
    visibility: hidden;
}
@media only screen and (max-width: 1200px) {
    .name-header {
        display: none !important;
    }

    .video-cover {
        display: none;
    }

    #zoom {
        display: none;
    }

    .introduction {
        position: static;
        width: 100%;
    }
    .introduction p {
        width: 100%;
    }

    .introduction hr {
        border-color: rgb(57, 110, 153);
        width: 90%;
        margin-left: 2rem;
        margin-bottom: 5rem;
    }

    .navbar {
        top: 0 !important;
        left: 0 !important;
    }

    #logo-header {
        margin-left: 0;
    }

}